@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter_24pt-Bold.ttf') format('truetype');
  font-weight: 100 900;
  font-style: bold;
}
body {
  font-family: 'Playfair Display', serif !important;
}

* { box-sizing: border-box; }

html, body {
  height: 100%;
  margin: 0;
}
/*
body {
  background-color: #0f1a22;
  color: #ffffff;
  font-family: Inter, system-ui, Arial, sans-serif;
}*/

/* clave para que no te quede “blanco” */
#root {
  min-height: 100%;
  background-color: #181F27;
}

